
            	<!--右侧-->
                <div class="right main_right">
                	<div class="main_rightTitle clear">
                    	<span class="col_3ca1ca f_18 left">公司简介</span>
                        <div class="right main_rightTitle_r">
                        	<a href="../../de15003/" class="col_3ca1ca f_12">首页</a> > <a href="360.html" class="col_3ca1ca f_12">关于我们</a> > <a href="360.html" class="col_3ca1ca f_12">公司简介</a>
                        </div>
                    </div>
                    <!--联系我们-->
                    <div class="lxwm_box">
                        <p>云邦网络是一家专注于高端网站建设和品牌传播的网络服务机构</p><p>致力于为企业提供全面、丰富的互联网解决方案，在网站创意设计、营销推广到技术研发领域拥有丰富经验</p><p>我们通过建立对目标客户和用户行为的分析，整合高质量设计和最新技术，为客户打造创意十足、有价值的互联网产品</p><p>云邦网络专注互联网，服务于10000+客户，8年积累了大量实战经验</p><p>我们始终相信，专注成就杰出</p>
                     </div>
                    
                    
                </div>
