<div class="footerBj">
  <div class="footer_top"> 
    <!--友情链接-->
    <div class="friendlink"> <span class="col_3ca1ca f_12"><b>友情链接：</b></span>

        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>
        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>

        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>
        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>
        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>
        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>
        <span>&nbsp;|&nbsp;</span> <a href="http://www.alvye.cn/" target="_blank" class="col_0 f_12">旅烨建站</a>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="footer_text">
     
      <p> <span class="col_0 f_12">地址:上海市长宁区中山西路1279弄6号国峰科技大厦8楼 电话: 021-51528690</span> </p>
      <p> <span class="col_0 f_12">ICP备案号：沪ICP备15011558号</span> <span>&nbsp;&nbsp;&nbsp;</span> <span class="col_3ca1ca f_12">技术支持：<a href="http://www.avlye.cn" target="_blank" class="col_3ca1ca f_12">旅烨建站</a></span> </p>
      
    </div>
    <div class="erweima"> 
          <img src="../images/ewm.jpg" width="90" height="90" />
           </div>
  </div>
</div>
<ul class="rightNav">

  <li class="text"><a href="380.html">在线留言</a></li>
  
  <li class="text"><a href="381.html">联系我们</a></li>
  
  <li id="goTop" style="display: none;"><a href="#" title="返回顶部"><img src="../images/back.png"></a></li>
</ul>