<div class="footerBj">
  <div class="footer_top"> 
    <!--友情链接-->
    <div class="friendlink"> <span class="col_3ca1ca f_12"><b>友情链接：</b></span> 
    
    <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     <span>&nbsp;|&nbsp;</span> <a href="../../../www.z2china.com/default.htm" target="_blank" class="col_0 f_12">云邦建站</a>
     </div>
  </div>
  <div class="footer_bottom">
    <div class="footer_text">
     
      <p> <span class="col_0 f_12">地址:北京市经济技术开发区荣京东街3号荣京丽都B座 电话:4008-770-550</span> </p>
      <p> <span class="col_0 f_12">Copyright © 2015 北京云邦网络科技有限公司 版权所有 京ICP备 15011040号-1</span> <span>&nbsp;&nbsp;&nbsp;</span> <span class="col_3ca1ca f_12">技术支持：<a href="../../../www.z2china.com/default.htm" target="_blank" class="col_3ca1ca f_12">云邦建站</a></span> </p>
      
    </div>
    <div class="erweima"> 
          <img src="../images/ewm.jpg" width="90" height="90" />
           </div>
  </div>
</div>
<ul class="rightNav">

  <li class="text"><a href="380.html">在线留言</a></li>
  
  <li class="text"><a href="381.html">联系我们</a></li>
  
  <li id="goTop" style="display: none;"><a href="#" title="返回顶部"><img src="../images/back.png"></a></li>
</ul>