<div class="main" id="main">
    <!--注：栏目页这个位置的背景和首页不同-->
    <div class="towMain_bj">
        <div class="towMain_bj2">
            <div class="towMain_bj3 clear">
                <!--左侧-->
                <div class="left main_left">
                    <div class="main_leftTitle">
                        <span class="col_3ca1ca f_18">服务项目</span>
                    </div>
                    <ul class="sidebar">


                        <li class="sidebar_li">
                            <a href="377.html" class="sidebar_a active">网站建设</a>
                        </li>



                        <li class="sidebar_li">
                            <a href="378.html" class="sidebar_a">微信开发</a>
                        </li>



                        <li class="sidebar_li">
                            <a href="379.html" class="sidebar_a">网站推广</a>
                        </li>


                    </ul>

                </div>
                <div data-ui-view=""></div>
            </div>
        </div>
    </div>
</div>
